# Coursera Kaggle Final Project - Data Science Sales Prediction Competition

***

This challenge serves as final project for the "How to win a data science competition" Coursera course.
the link to the contest can be found here: https://www.kaggle.com/c/competitive-data-science-predict-future-sales/

In this competition, it will be worked with a challenging time-series dataset consisting of daily sales data, kindly provided by one of the largest Russian software firms - 1C Company. 

Will be predicted total sales for every product and store in the next month. By solving this competition you will be able to apply and enhance your data science skills.

## About Dataset

<p><strong>sales_train.csv --></strong> The training set. Daily historical data from January 2013 to October 2015.<br>
<strong>test.csv --></strong>The test set. Data to forecast the sales for these shops and products for November 2015.</p>

In [12]:
# Importing Libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn import metrics
%matplotlib inline

Loading dataset

In [13]:
df = pd.read_csv("sales_train.csv")
test_df = pd.read_csv("test.csv")

First glimpse of the data

In [16]:
print(df.info())
df.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
date              object
date_block_num    int64
shop_id           int64
item_id           int64
item_price        float64
item_cnt_day      float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB
None

          date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0   02.01.2013               0       59    22154      999.00           1.0
1   03.01.2013               0       25     2552      899.00           1.0
2   05.01.2013               0       25     2552      899.00          -1.0
3   06.01.2013               0       25     2554     1709.05           1.0
4   15.01.2013               0       25     2555     1099.00           1.0
5   10.01.2013               0       25     2564      349.00           1.0
6   02.01.2013               0       25     2565      549.00           1.0
7   04.01.2013               0       25     2572      239.00           1.0
8   11.01.2013               0       25     2572      299.00           1.0
9   03.01.2013               0       25     2573      299.00           3.0
10  03.01.2013               0       25     2574      399.00           2.0
11  05.01.2013               0       25     2574      399.00           1.0
12  07.01.2013               0       25     2574      399.00           1.0
13  08.01.2013               0       25     2574      399.00           2.0
14  10.01.2013               0       25     2574      399.00           1.0

In [8]:
df.describe()

       date_block_num       shop_id       item_id    item_price  item_cnt_day
count    2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06  2.935849e+06
mean     1.456991e+01  3.300173e+01  1.019723e+04  8.908532e+02  1.242641e+00
std      9.422988e+00  1.622697e+01  6.324297e+03  1.729800e+03  2.618834e+00
min      0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+00 -2.200000e+01
25%      7.000000e+00  2.200000e+01  4.476000e+03  2.490000e+02  1.000000e+00
50%      1.400000e+01  3.100000e+01  9.343000e+03  3.990000e+02  1.000000e+00
75%      2.300000e+01  4.700000e+01  1.568400e+04  9.990000e+02  1.000000e+00
max      3.300000e+01  5.900000e+01  2.216900e+04  3.079800e+05  2.169000e+03

In [18]:
print("hello world")

hello world

### Models:

#### - Random Forest

In [ ]:
# RandomForest
from sklearn import ensemble
model = ensemble.RandomForestClassifier(n_estimators=200, n_jobs=-1, verbose=2, random_state=0)
model.fit(train_df, ytrain)
preds = model.predict_proba(valid_df)[:, 1]

#### - LSTM

In [ ]:
# LSTM
# Importing the Keras libraries and packages
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

# Initialising the RNN
regressor = Sequential()

# Adding the first LSTM layer and some Dropout regularisation
regressor.add(LSTM(units = 50, return_sequences = True, input_shape = (X_train.shape[1], 1)))
regressor.add(Dropout(0.2))

# Adding a second LSTM layer and some Dropout regularisation
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))

# Adding a third LSTM layer and some Dropout regularisation
regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))

# Adding a fourth LSTM layer and some Dropout regularisation
regressor.add(LSTM(units = 50))
regressor.add(Dropout(0.2))

# Adding the output layer
regressor.add(Dense(units = 1))

# Compiling the RNN
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

# Fitting the RNN to the Training set
regressor.fit(X_train, y_train, epochs = 100, batch_size = 32)
regressor.summary()

#Predicting
predicted_stock_price = regressor.predict(X_test)

### Metric: RMSE

In [ ]:
#RMSE
metric = metrics.RMSE

In [ ]:
#preds.to_csv("Submissions/submission_#.csv")

#REFERENCES
https://towardsdatascience.com/time-series-machine-learning-regression-framework-9ea33929009a
https://towardsdatascience.com/how-not-to-use-machine-learning-for-time-series-forecasting-avoiding-the-pitfalls-19f9d7adf424